@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
	--color-background: #171717;
	--color-foreground: #f5f5f5;
	--color-primary: #8855bb;
	--font-primary: "Oxanium", Tahoma, sans-serif;
}

nav .active {
	border-bottom: 2px solid var(--color-primary);
}
